@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Kaushan+Script&family=Michroma&family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    color: white;
    text-decoration: none;
    align-self: center;
    width: 10vw;
}

.slider{
    width: 50vw;
}

.search{
    display: flex;
    font-size: small;
    gap: 0.5rem;
    align-items: center;
}

.form-search{
    display: flex;
    text-align: center;
    justify-content: center;
}

.input-search{
    width: 15%;
}

main{
    background-color: rgb(252, 202, 223);
    padding-bottom: 1rem;
}

.home{
    max-width: 80vw;
}

.card{
    box-shadow: 4px 4px #9e9e9e;
}

.card-img{
    width: 280px;
	height: 150px;
	object-fit: cover;
    align-self: center;
    border-radius: 0.5rem;
}

.card-footer{
    justify-content: space-between;
    align-items: baseline;
}

.btn-book{
    box-shadow: -4px -4px #9e9e9e;
    background-color: rgb(194,9,97);
    color: #e2dcdc;
}

.btn-book:hover{
    background-color: rgb(239, 131, 184);
    color: white;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62.5vh;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /*margin: 1.5rem;*/
    border-radius: 0.5rem;
    background-color: rgb(239, 131, 184);
}

.btn-submit{
    background-color: rgb(194,9,97);
    color: #e2dcdc;
    align-self: flex-end;
}

.btn-submit:hover{
    background-color: #e2dcdc;
}

a .bi:hover{
    color: #e2dcdc;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 76vh;
    gap: 1rem;
    padding: 3rem;
}

.table {
    width: 60vw;
    padding: 2rem;
    background-color: #e2dcdc;
    table-layout: auto;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding-top: 1rem;
}

.data{
    background-color: rgb(239, 131, 184);
    display: flex;
    margin: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
}

.datatable {
    padding: 2rem;
    background-color: #e2dcdc;
    table-layout: auto;
    width: 100%;
}

.img-data{
    width: 100%;
    object-fit: cover;
}

th.title{
    background-color:rgb(239, 131, 184) ;
}

.myTable td{
    width: 33%;
}

footer{
    height: 10.5vh;
}

#home{
    background-image: url('../img/start.jpg');
    height: 40vh; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}

#upcoming{
    background-image: url('../img/ticket.jpg');
    height: 40vh; 
    background-position: bottom;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Pacifico', cursive;
}

#past{
    background-image: url('../img/event.jpg');
    height: 40vh; 
    background-position: bottom;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Kaushan Script', cursive;
}

#contact{
    background-image: url('../img/mail12.jpg');
    height: 20vh; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Caveat', cursive;
}



#stats{
    background-image: url('../img/stock.jpg');
    height: 20vh; 
    background-position: top;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Michroma', sans-serif;
}
/*    font-family: 'Caveat', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Orbitron', sans-serif;
*/