* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(252, 202, 223);
}

.card{
    height: 360px;
    width: 280px;
    box-shadow: 4px 4px #e2dcdc;
}

.card-img{
    width: 280px;
	height: 150px;
	object-fit: cover;
    align-self: center;
}


.card-footer{
    justify-content: space-between;
    align-items: baseline;
}

.btn-danger{
    box-shadow: -4px -4px #e2dcdc;
}